@using System.Diagnostics
@model SchroniskaTurystyczne.ViewModels.ShelterSearchViewModel

@{
    ViewData["Title"] = "Dostępne Schroniska";
}

<div class="search-bar py-3">
    <form asp-action="Index" asp-controller="Shelters" method="get" id="mainSearchForm">
        <div class="row align-items-center g-2">
            <div class="col-12 col-md-6">
                <div class="input-group">
                    <input asp-for="SearchTerm" class="form-control" placeholder="Wpisz nazwę lub miasto..." />
                    <select asp-for="SelectedCategoryId"
                            class="form-select"
                            style="max-width: 200px;"
                            asp-items="@(new SelectList(Model.AvailableCategories, "Id", "Name"))">
                        <option value="">Wszystkie schroniska</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-md-auto">
                <div class="d-flex gap-2">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#filterModal">
                        <i class="bi bi-funnel"></i>Filtruj
                    </button>
                    <button type="submit" class="btn darkcyan-button">
                        <i class="bi bi-search"></i> Szukaj
                    </button>
                </div>
            </div>
        </div>

        @if (Model.SelectedTagIds != null)
        {
            @foreach (var tagId in Model.SelectedTagIds)
            {
                <input type="hidden" name="SelectedTagIds" value="@tagId" />
            }
        }
        @if (Model.SelectedRoomTypeIds != null)
        {
            @foreach (var roomTypeId in Model.SelectedRoomTypeIds)
            {
                <input type="hidden" name="SelectedRoomTypeIds" value="@roomTypeId" />
            }
        }
    </form>
</div>

<div class="modal fade" id="filterModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filtrowanie schronisk</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="filter-form">
                    <h6>Tagi schronisk</h6>
                    @foreach (var tag in Model.AvailableTags)
                    {
                        <div class="form-check">
                            <input class="form-check-input tag-filter" type="checkbox"
                                   value="@tag.Id"
                                   id="tag-@tag.Id"
                            @(Model.SelectedTagIds?.Contains(tag.Id) == true ? "checked" : "")>
                            <label class="form-check-label" for="tag-@tag.Id">
                                @tag.Name
                            </label>
                        </div>
                    }

                    <h6 class="mt-3">Typy pokoi</h6>
                    @foreach (var roomType in Model.AvailableRoomTypes)
                    {
                        <div class="form-check">
                            <input class="form-check-input room-type-filter" type="checkbox"
                                   value="@roomType.Id"
                                   id="roomType-@roomType.Id"
                            @(Model.SelectedRoomTypeIds?.Contains(roomType.Id) == true ? "checked" : "")>
                            <label class="form-check-label" for="roomType-@roomType.Id">
                                @roomType.Name
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                <button type="button" class="btn darkcyan-button" id="applyFilters">Zastosuj filtry</button>
            </div>
        </div>
    </div>
</div>

<div class="shelter-list">
    @foreach (var shelter in Model.Shelters)
    {
        <div class="shelter-container">
            <div class="shelter-info">
                <h3 style="color:black">
                    <strong>@shelter.Name</strong> @if (shelter.Confirmed == true){<i style="color: green; font-size: 20px" class="bi bi-check-circle-fill"></i>}</h3>
                <div class="shelter-rating">
                    @if (shelter.Rating != null)
                    {
                        <span class="star full">&#9733;</span>
                        <p> <strong style="color:black">@shelter.Rating</strong>/10</p> <p style="font-size: 15px; margin: 10px 0 0 5px">(@shelter.AmountOfReviews)</p>
                    }
                    else
                    {
                        <span class="star empty">&#9733;</span>
                        <p><strong> Brak ocen</strong></p>
                    }
                </div>
                <p style="margin-bottom: 5px" class="shelter-description">
                    <strong>Opis:</strong> @shelter.Description
                </p>
                <p class="shelter-description">
                    <strong>Lokalizacja:</strong> @shelter.Country, @shelter.City
                </p>
                @if (shelter.Tags != null && shelter.Tags.Any())
                {
                    @foreach(var tag in shelter.Tags)
                    {
                        <p class="tag-item">@tag.Name</p>
                    }
                }
            </div>

            <div class="shelter-photo">
                @if (!string.IsNullOrEmpty(shelter.MainPhotoBase64))
                {
                    <img loading="lazy" src="data:image;base64,@shelter.MainPhotoBase64" alt="Zdjęcie schroniska" />
                }
            </div>

            <div class="shelter-actions">
                <a class="dark-darkcyan-button btn" asp-action="MapView" asp-controller="Shelters" asp-route-id="@shelter.Id">Pokaż na mapie</a>
                <a class="darkcyan-button btn" asp-action="Booking" asp-controller="Shelters" asp-route-id="@shelter.Id">Szczegóły</a>
                <a class="aquamarine-button btn" asp-action="ShelterReviews" asp-controller="Reviews" asp-route-shelterId="@shelter.Id">Recenzje</a>
            </div>
        </div>
    }
</div>
    
@if (TempData["ErrorMessage"] != null)
{
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="errorModalLabel">Błąd</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @TempData["ErrorMessage"]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
            errorModal.show();
            console.log('error');
        });
    </script>
}

<script>
    $(document).ready(function () {
        console.log('start');
        $('#applyFilters').on('click', function () {

            $('#mainSearchForm input[name="SelectedTagIds"]').remove();
            $('#mainSearchForm input[name="SelectedRoomTypeIds"]').remove();

            $('.tag-filter:checked').each(function () {
                $('#mainSearchForm').append(
                    `<input type="hidden" name="SelectedTagIds" value="${$(this).val()}" />`
                );
            });

            $('.room-type-filter:checked').each(function () {
                $('#mainSearchForm').append(
                    `<input type="hidden" name="SelectedRoomTypeIds" value="${$(this).val()}" />`
                );
            });

            $('#filterModal').modal('hide');

            $('#mainSearchForm').submit();
            console.log('klik');
        });
        console.log('redi');
    });
</script>
