@model SchroniskaTurystyczne.ViewModels.ShelterSearchViewModel

@{
    ViewData["Title"] = "Dostępne Schroniska";
}

<div class="search-bar">
    <form asp-action="Index" asp-controller="Shelters" method="get" id="mainSearchForm">
        <div class="row">
            <div class="col">
                <input asp-for="SearchTerm" class="form-control" placeholder="Wpisz nazwę lub miasto..." />
            </div>
            <div class="col">
                <input asp-for="City" class="form-control" placeholder="Miasto" />
            </div>
            <div class="col">
                <input asp-for="Street" class="form-control" placeholder="Ulica" />
            </div>

            <!-- Ukryte pola dla filtrów -->
            @if (Model.SelectedTagIds != null)
            {
                @foreach (var tagId in Model.SelectedTagIds)
                {
                    <input type="hidden" name="SelectedTagIds" value="@tagId" />
                }
            }

            @if (Model.SelectedRoomTypeIds != null)
            {
                @foreach (var roomTypeId in Model.SelectedRoomTypeIds)
                {
                    <input type="hidden" name="SelectedRoomTypeIds" value="@roomTypeId" />
                }
            }

            <div class="col">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#filterModal">
                    Filtruj
                </button>
                <button type="submit" class="btn btn-primary">Szukaj</button>
            </div>
        </div>
        <div class="col">
            <select asp-for="SelectedCategoryId" class="form-select" asp-items="@(new SelectList(Model.AvailableCategories, "Id", "Name"))">
                <option value="">Wszystkie schroniska</option>
            </select>
        </div>
    </form>
</div>

<!-- Filter Modal -->
<div class="modal fade" id="filterModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filtrowanie schronisk</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="filter-form">
                    <h6>Tagi schronisk</h6>
                    @foreach (var tag in Model.AvailableTags)
                    {
                        <div class="form-check">
                            <input class="form-check-input tag-filter" type="checkbox"
                                   value="@tag.Id"
                                   id="tag-@tag.Id"
                            @(Model.SelectedTagIds?.Contains(tag.Id) == true ? "checked" : "")>
                            <label class="form-check-label" for="tag-@tag.Id">
                                @tag.Name
                            </label>
                        </div>
                    }

                    <h6 class="mt-3">Typy pokoi</h6>
                    @foreach (var roomType in Model.AvailableRoomTypes)
                    {
                        <div class="form-check">
                            <input class="form-check-input room-type-filter" type="checkbox"
                                   value="@roomType.Id"
                                   id="roomType-@roomType.Id"
                            @(Model.SelectedRoomTypeIds?.Contains(roomType.Id) == true ? "checked" : "")>
                            <label class="form-check-label" for="roomType-@roomType.Id">
                                @roomType.Name
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-primary" id="applyFilters">Zastosuj filtry</button>
            </div>
        </div>
    </div>
</div>


<!-- Shelter list  -->
<div class="shelter-list">
    @foreach (var shelter in Model.Shelters)
    {
        <div class="shelter-container">
            <div class="shelter-info">
                <h3 style="color:black"><strong>@shelter.Name</strong></h3>
                <div class="shelter-rating">

                    @if (shelter.Rating != null)
                    {
                        <span class="star full">&#9733;</span>
                        <p> <strong style="color:black">@shelter.Rating</strong>/10</p> <p style="font-size: 15px; margin: 10px 0 0 5px">(@shelter.AmountOfReviews)</p>
                    }
                    else
                    {
                        <span class="star empty">&#9733;</span>
                        <p><strong> Brak ocen</strong></p>
                    }
                </div>
                <p class="shelter-description">
                    <strong>Opis:</strong> @shelter.Description
                </p>
                <p class="shelter-description">
                    <strong>Lokalizacja:</strong> @shelter.Country, @shelter.City
                </p>

                @if (shelter.Tags != null && shelter.Tags.Any())
                {
                    @foreach(var tag in shelter.Tags)
                    {
                        <p class="tag-item">@tag.Name</p>
                    }
                }
            </div>

            <div class="shelter-photo">
                @if (!string.IsNullOrEmpty(shelter.MainPhotoBase64))
                {
                    <img src="data:image;base64,@shelter.MainPhotoBase64" alt="Zdjęcie schroniska" />
                }
            </div>

            <div class="shelter-actions">
                <a style="background-color:darkcyan" asp-action="MapView" asp-controller="Shelters" asp-route-id="@shelter.Id">Pokaż na mapie</a>
                <a style="background-color:aquamarine; color: black" asp-action="Booking" asp-controller="Shelters" asp-route-id="@shelter.Id">Szczegóły</a>
                <a style="background-color:gold; color: black" asp-action="ShelterReviews" asp-controller="Reviews" asp-route-shelterId="@shelter.Id">Recenzje</a>
            </div>
        </div>
    }
</div>

<script>

    const API_KEY = 'EqrphcGjSSf6pg5L1FXub1nmdOe9HzC_FV00UDqrve4';

    let activeMap = null;
    let activeMapDiv = null;
    let activeMapShelterId = null;

    function openMap(lat, lon, shelterId) {

        if (activeMapDiv && activeMapShelterId === shelterId) {
            activeMapDiv.style.display = 'none';
            activeMap.remove();
            activeMap = null;
            activeMapDiv = null;
            return;
        }
        else if (activeMapDiv)
        {
            activeMapDiv.style.display = 'none';
            activeMap.remove();
            activeMap = null;
            activeMapDiv = null;
        }

        activeMapShelterId = shelterId;

        const mapDiv = document.getElementById('map-' + shelterId);

        mapDiv.style.display = 'block';

        const map = L.map('map-' + shelterId).setView([lat, lon], 16);

        L.tileLayer(`https://api.mapy.cz/v1/maptiles/basic/256/{z}/{x}/{y}?apikey=${API_KEY}&lang=pl`, {
            minZoom: 0,
            maxZoom: 19,
            attribution: '<a href="https://api.mapy.cz/copyright" target="_blank">&copy; Seznam.cz a.s. a další</a>',
        }).addTo(map);

        L.marker([lat, lon]).addTo(map);

        const LogoControl = L.Control.extend({
            options: {
                position: 'bottomleft',
            },

            onAdd: function (map) {
                const container = L.DomUtil.create('div');
                const link = L.DomUtil.create('a', '', container);

                link.setAttribute('href', 'http://mapy.cz/');
                link.setAttribute('target', '_blank');
                link.innerHTML = '<img src="https://api.mapy.cz/img/api/logo.svg" />';
                L.DomEvent.disableClickPropagation(link);

                return container;
            },
        });

        new LogoControl().addTo(map);

        activeMap = map;
        activeMapDiv = mapDiv;
    };
</script>

@if (TempData["ErrorMessage"] != null)
{
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="errorModalLabel">Błąd</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @TempData["ErrorMessage"]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
            errorModal.show();
        });
    </script>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#applyFilters').on('click', function () {
                // Usuwamy istniejące ukryte pola filtrów
                $('#mainSearchForm input[name="SelectedTagIds"]').remove();
                $('#mainSearchForm input[name="SelectedRoomTypeIds"]').remove();

                // Dodajemy zaznaczone tagi
                $('.tag-filter:checked').each(function () {
                    $('#mainSearchForm').append(
                        `<input type="hidden" name="SelectedTagIds" value="${$(this).val()}" />`
                    );
                });

                // Dodajemy zaznaczone typy pokoi
                $('.room-type-filter:checked').each(function () {
                    $('#mainSearchForm').append(
                        `<input type="hidden" name="SelectedRoomTypeIds" value="${$(this).val()}" />`
                    );
                });

                // Zamykamy modal
                $('#filterModal').modal('hide');

                // Automatycznie wysyłamy formularz
                $('#mainSearchForm').submit();
            });
        });
    </script>
}